<div class="padding-global">
    <div class="container-large">
    <div class="padding-section-large">
    <div class="w-layout-grid cta39_component shadow-medium">
    <div class="w-layout-grid cta39_card">
</div>
    </div>
    </div>
    </div>
    </div>
    


{% schema %}
    {"tag":"section","name":"card_cta","class":"section_cta-kaufen","settings":[{"id":"text_heading","type":"text","label":"Heading","default":"Einfache Anwendung und hoher Schutz"},{"id":"text_bullet_1_text","type":"text","label":"Bullet-1-Text","default":"Einfache Anwendung und hoher Schutz"},{"id":"text_bullet_2_text","type":"text","label":"Bullet-2-Text","default":"100 % nat\u00fcrliche Inhaltsstoffe"},{"id":"text_bullet_3_text","type":"text","label":"Bullet-3-Text","default":"Medizinische Empfehlung f\u00fcr alle Altersklassen"},{"id":"text_bullet_4_text","type":"text","label":"Bullet-4-Text","default":"keine Versandkosten"},{"id":"text_button_text_1","type":"text","label":"Button-Text-1","default":"Zur Produktseite"},{"id":"url_button_link_2","type":"url","label":"Button-Link-2"},{"id":"text_button_text_2","type":"text","label":"Button-Text-2","default":"in den Warenkorb"},{"id":"image_image","type":"image_picker","label":"Image"},{"id":"product_produkt","type":"product","label":"Produkt"}],"presets":[{"name":"card_cta","category":"Liquify"}]}
{% endschema %}
