<div class="padding-global">
    <div class="container-large">
    <div class="padding-section-large">
    <div class="w-layout-grid cta1_component">
</div>
    </div>
    </div>
    </div>
    


{% schema %}
    {"tag":"section","name":"full_width_cta","class":"section_pre-footer-cta background-color-grey","settings":[{"id":"text_heading","type":"text","label":"Heading","default":"Einfache Anwendung und hoher Schutz"},{"id":"text_bullet_1_text","type":"text","label":"Bullet-1-Text","default":"Nie wieder Probleme mit Wasser in den Ohren"},{"id":"text_bullet_2_text","type":"text","label":"Bullet-2-Text","default":"Ein Spr\u00fchsto\u00df in jedes Ohr bevor es nass wird"},{"id":"text_button_1_text","type":"text","label":"Button-1-Text","default":"Jetzt kaufen"},{"id":"url_button_2_link","type":"url","label":"Button-2-Link"},{"id":"text_button_2_text","type":"text","label":"Button-2-Text","default":"Mehr erfahren"},{"id":"product_produkt","type":"product","label":"Produkt"}],"presets":[{"name":"full_width_cta","category":"Liquify"}]}
{% endschema %}
